.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c -sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}







/* Costum styles from vuexy template */


.c-app{
    background: #f8f7fa;
}

.c-app #sidebar{
    background-color: #ffffff;
    color: black;
}

.c-sidebar .c-sidebar-brand, .c-sidebar .c-sidebar-header{
    background-color: rgb(255, 255, 255);
    color: grey;
    
}


.c-sidebar .c-sidebar-nav-dropdown-toggle:hover, .c-sidebar .c-sidebar-nav-link:hover{
    /* background: linear-gradient(72.47deg,rgb(var(--v-global-theme-primary)) 22.16%,rgba(var(--v-global-theme-primary),.7) 76.47%)!important; */
    background-color: #fff5f5;
    color: black;
}

.c-sidebar-nav-dropdown-toggle{
    margin-inline: 0.875rem;
}

.c-sidebar-nav .c-sidebar-nav-item a{
    margin-inline: 0.875rem;

}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link{
    color: black;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link a{
    color: black;
}

.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link{
    color: black;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link.c-active{
    background: linear-gradient(72.47deg,rgb(var(--v-global-theme-primary)) 22.16%,rgba(var(--v-global-theme-primary),.7) 76.47%)!important;
    background-color: rgba(115,103,240) !important;
    color: #fff !important;
    
}

.c-wrapper:not(.c-wrapper-fluid) .c-header-fixed{
    width: calc(100% - 60px);
    margin: 0 auto;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon{
    color: grey;
}



.c-sidebar-nav-dropdown-toggle i.drop-icon{
    /* background-color: red; */
    color: rebeccapurple;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(90deg);
    /* transition: transform .3s,-webkit-transform .3s; */
}

.c-sidebar-nav-dropdown.c-show i.drop-icon{
    transform: translateY(-50%) rotate(0);
}

html:not([dir=rtl]) .c-sidebar-nav-dropdown.c-show>.c-sidebar-nav-dropdown-toggle::after{
    background-color: red;
    display: none;
}

.c-sidebar .c-sidebar-nav-link:hover.c-sidebar-nav-dropdown-toggle::after, .c-sidebar :hover.c-sidebar-nav-dropdown-toggle::after{
    display: none;
}

.c-sidebar-nav-dropdown.c-show > a{
    background-color: #ffebeb;
}

.c-sidebar .c-sidebar-nav-dropdown.c-show{
    background: initial;
    background-color: initial;
}