@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  min-height: 100vh;
  height: 100%;
}

.multi-part-wrapper {
  height: 100%;
  /* background: rgb(247, 247, 247); */
  display: flex;
  align-items: center;
  justify-content: center;
}


.multi-form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* box-shadow: rgb(0 0 0 / 10%) 0px 1px 30px; */
  border: 1px solid #aaaaaa;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.progress-bar-container {
  /* width: 100%;
    height: 10px;
    background: #9ad2f4;
    margin-top: 10px;
    position: relative;

    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    font-family: "Segoe UI";
    animation-direction: reverse; */
  background: #f1f1f1;
  border-radius: 10px;

  height: 8px;
  /* margin: 50px 0px; */
  position: relative;
  /* relative here */

  /* background: #e5405e; */
  /* Old browsers */
  /* background: -moz-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%); */
  /* FF3.6-15 */
  /* background: -webkit-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to right, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%); */
}

.progress-bar-indicator {
  /* position: absolute;	 */
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
  width: 10px;
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0);
  border-radius: 5px;
  transition: width 0.2s linear;
}

.progress-bar-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #166260, #07adce, #3b91ff);
  border-radius: 5px;
}

.multi-form-container .slider {
  position: relative;
  min-height: 380px;
  overflow: hidden;
}

.multi-form-container .recommendation-container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #f8f8f8;
    width: 100%;
    filter: blur(-2.2px);
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: absolute;
    height: 100%;
    width: 100%;
    background: rebeccapurple;
    justify-content: center; */
}

.multi-form-container .recommendation-container .recommendation{
    padding: 10px;
    border-radius: 5px;
    padding: 24px 16px;
    /* background: red; */
    /* border: 1px solid; */
    width: 460px;
    background: white;
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

.multi-form-container .recommendation-container .recommendation-title{
    font-size: 16px;
    font-weight: 400;
    background: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #0070bb;

}
.multi-form-container .recommendation-container textarea{
    border-color: white;
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #d8d6de;
}

.multi-form-container .recommendation-container textarea:focus{
    border: 1.2px solid #d8d6de;
    border-radius: 5px;
}

.multi-form-container .recommendation-container .btn-container{
    display: block;
    text-align: center;
}

.multi-form-container .recommendation-container .btn{
    cursor: pointer;
    outline: 1px solid #63a2cb;
    padding: 1px 23px;
    user-select: none;
    color: #0070bb;
    font-size: 15px;
    margin-top: 9px;
}

.multi-form-container fieldset {
  width: 100%;
  flex: 1;
  border: none;
  padding-bottom: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

.fs-title {
  font-size: 17px;
  /* text-transform: uppercase; */
  color: #63a2cb;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.fs-input {
  /* margin-top: 50px; */
  margin-top: 20px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fs-input .answer-options{
    width: 100%;
}

.fs-input select {
  width: 100%;
  padding: 4px;
  font-size: 15px;
  display: block;
  width: 100%;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8085;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border-radius: 0.375rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-width: 2px;
  border-radius: 4px;
}

.fs-input .unapplicable{
        /* margin-top: 20px; */
    /* margin-right: auto; */
    display: block;
    /* position: absolute; */
    left: 0;
    /* bottom: 0; */
    margin-left: auto;
    top: 0;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--gray);
    /* display: flex; */
    /* align-items: baseline; */
    /* justify-content: center; */
    margin-right: 4px;
    border: 1px solid #a5a5a5;
    padding: 5ppx 10px;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    color: #386c8f;
    user-select: none;
    /* background: #df4c4cde; */
    font-weight: 500;
    cursor: pointer;
}



.fs-input .remarks{
    width: 100%;
    margin-top: 20px;
    /* height: 20px; */
}

.fs-input .remarks label,
.fs-input .answer-label{
    font-size: 16px;
    padding-left: 5px;
    font-weight: 500;
    color: var(--gray);
}

.fs-input .remarks textarea{
    margin-top: 0;
    border-color: #ced4da;
    border-width: 2px;
    border-radius: 4px;
}

.fs-input textarea{
    width: 100%;
    margin-top: 20px;
    min-height: 80px;
    max-height: 80px;
    padding: 10px;
}

.fs-input .unapplicable label{
    margin-right: 5px;
    margin-bottom: 0;
}

.fs-input .unapplicable input{
    position: relative;
    top: 1.5px;
}

.fs-input .remarks textarea:focus,
.fs-input select:focus{
    outline-color: var(--gray);
}



.fs-input .error {
  padding: 6px 0;
  width: 100%;
  font-size: 14px;
  color: #ff4949;
  text-align: center;
  display: none;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  text-align: center;
  /* font-family: system-ui; */
  font-size: 15px;
  font-weight: 500;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
}

.form-buttons div {
    cursor: pointer;
    outline: 1px solid #63a2cb;
    padding: 2px 50px;
    user-select: none;
    color: #0070bb;
    font-size: 16px;
}

.form-buttons div:hover{
  background-color: #dbebf4;
}

.form-buttons .hide {
  display: none;
}
